<template name="header">

	{{#if currentUser}}
	<nav class="navbar navbar-default" role="navigation">
	  <div class="container">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="/messages/general">
          ParPanch
          <span>{{reminder}}</span>
        </a>
	    </div>
      {{#if currentUser}}
        {{> authenticatedNavigation}}
      {{else}}
        {{> publicNavigation}}
      {{/if}}
	  </div>
	</nav>
	{{else}}
		<div>
			<div style="color:white">
				<h1><a href="#"><img src="logo.png" width="50" height="50"></a>Parpanch<small>  an Online Chat Application</small></h1>
			</div>
			<div class="container topBotomBordersOut">
				<nav class="navbar blue navbar-inverse">
				<ul class="nav navbar-nav">
					<li><a href="/"><h4>Home</h4></a></li>
					<li><a href="/login"><h4><span class="glyphicon glyphicon-log-in"></span> Login</h4></a></li>
					<li><a href="/signup"><h4><span class="glyphicon glyphicon-user"></span> Sign Up</h4></a></li>
					<li><a href="/contactUs"><h4>Contact</h4></a></li>
					<li><a href="/about"><h4>About</h4></a></li>
				</ul>
				</nav>
			</div>
		</div>
{{/if}}
</template>
